* {
    margin: 0 auto;
    text-align: center;
}
#lightgallery div {
    width: 20%;
    padding: 15px;
}
#lightgallery {

    width: 90%;
    display: flex;
    flex-flow: wrap;
}

img {
    width: 100%;
}

a{
    width: 30%;
    margin-top: 30px;
}
#imagelightbox
{
    position: fixed;
    z-index: 9999;
    -ms-touch-action: none;
    touch-action: none;
}
h1  {

}
